# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment files
.env
*.env

# Virtual environments
venv/
env/
.venv/

# VS Code settings
.vscode/

# Streamlit cache / temporary files
.streamlit/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
